/* CSS Document */
body{
		width: 100%;
		background-size: 100%;
		min-width: 1095px;
    	background: url(../images/backgroud.jpg) no-repeat center top fixed;
}
body, ul, li, p, span, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, input, table, tr, td {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.warp_meeu {
    min-width: 1095px;
    margin: 0 auto 50px;
    min-height: 885px;
    overflow: hidden;
}
* {
    outline: none;
}
body, ul, li, p, span, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, input, table, tr, td {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 1095px;
    position: relative;
    height: 165px;
    margin: 0 auto;
    z-index: 2;
}
.logo {
    width: 317px;
    height: 165px;
    position: absolute;
    left: -38px;
    top: 0;
}
.header_top {
    height: 35px;
    text-align: right;
}
.header_top span a {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-right: 12px;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #6e6e6e;
    font-family: "微软雅黑";
}
.nav_mian {
    padding-top: 25px;
}
.nav_mian ul {
    width: 805px;
    float: right;
}
.nav_mian ul li {
    width: 83px;
    height: 27px;
    float: left;
    margin-right: 6px;
    position: relative;
}
ul li {
    list-style: none;
}

.nav_mian ul li a {
    display: inline-block;
    line-height: 27px;
    width: 83px;
    height: 27px;
    text-align: center;
    color: #bc0c16;
    font-size: 14px;
}
.content {
    width: 1095px;
    margin: 0 auto;
    min-height: 330px;
    position: relative;
    z-index: 0;
	display: none;
}

.meeu_mian, .news_mian {
    width: 970px;
    float: right;
    min-height: 500px;
    margin-top: 30px;
    padding-bottom: 120px;
}
.item {
  width: 230px;
  margin: 6px;
  float: left;
}
#container{ right: -7px;}
.meeu_mian dl {
    width: 230px;
    position: relative;
}
.meeu_mian dl dt {
    width: 234px;
}
.meeu_mian dl dd {
    width: 100%;
    background: #eb3939;
    text-align: right;
    line-height: 1.8;
    padding: 3px 0;
}
.radius_5_hb {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background: #fff;
    position: relative;
}
.meeu_mian dl dd a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding-right: 12px;
}
.clear {
    clear: both;
    height: 0;
    width: 0;
    font-size: 0;
}
.side_nav {
    width: 120px;
    min-height: 430px;
    padding-top: 58px;
    overflow: hidden;
}
.side_nav ul li {
    width: 112px;
    height: 32px;
    text-align: right;
    margin-bottom: 4px;
}
ul li {
    list-style: none;
}
.side_nav ul li a.hover {
}
.side_nav ul li a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    font-size: 12px;
    color: #fff;
}
.footer {
    height: 40px;
    background: #000;
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    left: 0;
}
.content_bottombg {
    height: 21px;
    background: url(../images/ico5.png) repeat-x;
    position: absolute;
    top: -21px;
    left: 0;
    z-index: 4;
    width: 100%;
}
.footer_main {
    width: 1095px;
    margin: 5px auto 0;
}
.footer_main p {
    float: right;
    font-size: 12px;
    color: #fff;
    margin-top: 6px;
}

.shop_main {
	width: 350px;
	min-height: 445px;
	position: fixed;
	right:20px;
	top:200px;
	z-index: 2;
	display: none;
}

.tableHeadernew {
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	font-weight: bold;
	color: #ff0080;
	padding: 0 10px;
	text-align: left;
}

.col-xs-new {
	float: left;
	width: 20%;
	text-align: center;
}